---
title: Welcome to Middleman
---
<header class="shadow">
  <div class="row inner">
    <div class="large-12 columns">
    <img src="/images/logo.png" class="logo">
    <div class="tagline">Våra recepttips</div></div>
  </div>
</header>
<div class="wrapper">
  <div class="main">
    <div class="row">
      <div class="recipebox first skew-right">
        <div class="recipetape"></div>
        <img src="/images/tomatobeansalad.jpg">
        <div class="recipename">
          <h2>Bönor med tillbehör (2 pers) - Bönor i tomatsås</h2>
        </div>
        <section>
          <h3>Tillagning</h3>
          <ol>
            <li>Värm en burk Bönor i tomatsås i en gryta och stek 2 kryddiga korvar samt 2 ägg.</li>
            <li>Servera med rostat bröd.</li>
          </ol>
        </section>
        <form action="#" method="get">
          <button>
            <img src="/images/printericon.png">
            Skriv ut recept
          </button>
        </form>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="recipebox skew-left">
        <div class="recipetape"></div>
        <img src="/images/chiliconcarne.jpg">
        <div class="recipename">
          <h2>Magnus Chili Con Carne (4 pers) - Chilibönor</h2>
        </div>
        <section>
          <h3>Tillagning</h3>
          <ol>
            <li>Skär en röd paprika och en gul lök i tärningar.</li>
            <li>Stek mjuka i smör eller olja i stekpanna.</li>
            <li>Tillsätt 0,5 kg blandfärs och stek tills färsen är genomstekt.</li>
            <li>Till sist blanda i 2 burkar Bönor i chilisås, 1/2 dl vatten och värm tills bönorna är genomvarma.</li>
            <li>Servera med en god sallad och ett gott bröd.</li>
          </ol>
        </section>
        <form action="#" method="get">
          <button>
            <img src="/images/printericon.png">
            Skriv ut recept
          </button>
        </form>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="recipebox first skew-right">
        <div class="recipetape"></div>
        <img src="/images/beansalad.jpg">
        <div class="recipename">
          <h2>Öländsk bönsallad (4 pers) - Salladsbönor</h2>
        </div>
        <section>
          <h3>Tillagning</h3>
          <ol>
            <li>Skölj 2 burkar bönor under rinnande vatten</li>
            <li>Blanda 2-3 msk majonäs, med 2-4 msk filmjölk.</li>
            <li>Hacka en stor gul lök och skär 1 äpple i småbitar.</li>
            <li>Skär och blanda 50g finskuren rökt skinka för att ett alternativ. </li>
            <li>Tillsätt några droppar soja för färgens skull.</li>
            <li>Lägg ingredienserna i en salladsskål och strö över 3 msk persilja.</li>
          </ol>
        </section>
        <form action="#" method="get">
          <button>
            <img src="/images/printericon.png">
            Skriv ut recept
          </button>
        </form>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="recipebox skew-left">
        <div class="recipetape"></div>
        <img src="/images/beansalad.jpg">
        <div class="recipename">
          <h2>Öländsk bönsallad (4 pers) - Salladsbönor</h2>
        </div>
        <section>
          <h3>Tillagning</h3>
          <ol>
            <li>Skölj 2 burkar bönor under rinnande vatten</li>
            <li>Blanda 2-3 msk majonäs, med 2-4 msk filmjölk.</li>
            <li>Hacka en stor gul lök och skär 1 äpple i småbitar.</li>
            <li>Skär och blanda 50g finskuren rökt skinka för att ett alternativ. </li>
          </ol>
        </section>
        <form action="#" method="get">
          <button>
            <img src="/images/printericon.png">
            Skriv ut recept
          </button>
        </form>
        <hr>
      </div>
    </div>
  </div>
</div>
<footer class="footer shadow">
</footer>