---
title: Welcome to Middleman
---
<header>
  <div class="row inner">
    <div class="large-12 columns">
    <img src="/images/logo.png" class="logo">
    <div class="tagline">Våra nya bönor</div></div>
  </div>
</header>
<div class="wrapper">
  <div class="main">
    <div class="row">
      <div class="box first skew-right">
        <div class="tape"></div>
        <img src="/images/salad.jpg">
        <div class="label salad"></div>
        <p>Naturell böna att skapa egna spännande rätter med. Eller blanda vår "Öländska bönsallad" eller 
"Enkel bönsallad" på.</p>
      </div>
      <div class="box skew-left">
        <div class="tape"></div>
        <img src="/images/chili.jpg">
        <div class="label chili"></div>
        <p>Ger Chili sin carne eller <br> Chili con Carne ett hett lyft.</p>
      </div>
    </div>
    <div class="row">
      <div class="box first skew-right">
        <div class="tape"></div>
        <img src="/images/taco.jpg">
        <div class="label taco"></div>
        <p>För tacoälskare som gillar lite<br>
sting. Ett självklart vegetarisk<br>
alternativ till fredagstacon.</p>
      </div>
      <div class="box skew-left">
        <div class="tape"></div>
        <img src="/images/tomato.jpg">
        <div class="label tomato"></div>
        <p>Med lite brynt köttfärs<br>
eller korv, varm och servera.</p>
      </div>
    </div>
  </div>
</div>